@use '../../../assets/styles/index.scss' as *;
@import '../../../assets/styles/headers';

.mainScreen {
  width: 100%;
  padding: 0 rem(350);
  margin-top: rem(100);
  @media screen and (max-width: point(lg)) {
    padding: 0 rem(150);
  }
  @media screen and (max-width: point(md)) {
    padding: 0 rem(100);
  }
  @media screen and (max-width: point(sm)) {
    padding: 0 rem(16);
  }
}

.mainScreen__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content__background {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .backgroundMobile {
    display: none !important;
    width: 100%;

    > span {
      width: 100% !important;
      left: 50% !important;
      transform: translateX(-50%) scale(1.1) !important;
    }
    img {
      min-width: 100% !important;
      height: auto !important;
    }

    @media screen and (max-width: point(sm)) {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
  .backgroundDesktop {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    > span {
      width: 100% !important;
    }
    img {
      min-width: 100% !important;
      height: auto !important;
    }

    @media screen and (max-width: point(sm)) {
      display: none !important;
    }
  }
}

.mainScreen__title {
  @include h1-style;
  position: absolute;
  max-width: rem(478);
  white-space: pre-line;
  z-index: 2;
  top: rem(180);
  left: rem(140);
  @media screen and (max-width: point(md)) {
    left: rem(0);
    top: rem(110);
  }
  @media screen and (max-width: point(sm)) {
    max-width: rem(210);
    left: rem(10);
    top: rem(10);
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-3px);
    background: linear-gradient(85.27deg, #cc00ff 0%, #50bfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(4px);
    z-index: -1;
  }
}
