@use '../../../assets/styles/index.scss' as *;

.partnersScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: rem(150);
  padding: 0 rem(350);
  @media screen and (max-width: point(lg)) {
    padding: 0 rem(150);
  }
  @media screen and (max-width: point(md)) {
    padding: 0 rem(100);
  }
  @media screen and (max-width: point(sm)) {
    padding: 0 rem(16);
    margin-top: rem(100);
  }
}

.title {
  width: rem(200);
  @media screen and (max-width: point(sm)) {
    width: rem(150);
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-top: rem(20);

  .link {
    position: relative;
    width: 50%;
    height: rem(50);

    .logo {
      transition: opacity 0.3s ease;
    }

    .logo_basic {
      opacity: 1;
    }

    .logo_colored {
      opacity: 0;
    }

    &:hover {
      .logo_basic {
        opacity: 0;
      }
      .logo_colored {
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: point(sm)) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: rem(60);

    .link {
      flex: 20% 0 0;
      height: rem(90);
    }
  }
}

.partnersScreen__border {
  position: relative;
  width: 100%;
  height: 3px;
  margin-top: rem(50);
  background: linear-gradient(90deg, #bd17ff 0%, #5fa8ff 100%);
  @media screen and (max-width: point(sm)) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 3px;
    height: rem(51);
    bottom: 100%;
  }

  &::before {
    left: 0;
    background: linear-gradient(180deg, rgba(188, 23, 255, 0) 0%, #bd17ff 100%);
  }
  &::after {
    right: 0;
    background: linear-gradient(180deg, rgba(95, 168, 255, 0) 0%, #5fa8ff 100%);
  }
}
