@use './styles/colors';
@use './styles/fonts';
@use './styles/grid';
@use './styles/mixins';

@import './fonts/stylesheet.css';
@import './styles/modules/swiper.scss';

html {
  @include grid.documentScale;
  // scroll-behavior: smooth;
}

:root {
  @include colors.generateColors;
  @include fonts.generateFonts;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: colors.color(dark100) #bd17ff;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    -webkit-appearance: none;
  }
  ::-webkit-scrollbar-track {
    background-color: colors.color(dark100);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #bd17ff;
  }
  color: colors.color(light100);
  // scroll-behavior: smooth;
  @media screen and (max-width: point(sm)) {
    ::-webkit-scrollbar {
      width: 1px;
      height: 1px;
      -webkit-appearance: none;
    }
  }
}

body {
  background-color: colors.color(dark100);
  // scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: none;
}

.prevent-scroll {
  position: relative;
  overflow: hidden;
}

html.prevent-scroll {
  height: 100%;
  max-height: 100%;
}

.scrollContainer {
  overflow: hidden;
}

img {
  user-select: none;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  @include fonts.font-oxanium-medium;
  font-size: fonts.font(55);
  @media screen and (max-width: grid.point(sm)) {
    @include fonts.font-oxanium-regular;
    font-size: fonts.font(28);
  }
}

h2 {
  @include fonts.font-oxanium-semibold;
  font-size: fonts.font(28);
  @media screen and (max-width: grid.point(sm)) {
    font-size: fonts.font(18);
  }
}

.swiper {
  overflow-y: visible !important;
  overflow-x: clip !important;
}

.swiper-slide:not(.swiper-slide-active) {
  overflow-x: clip;
}
