@use 'sass:math';

$fontBase: 16;

@function rem($px) {
  @return #{math.div($px, $fontBase)}rem;
}

@function em($px) {
  @return #{math.div($px, $fontBase)}em;
}

@mixin hideScrollbar() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
