@use '../../../assets/styles/index.scss' as *;

.whatScreen {
  margin: rem(80) rem(20) 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(30);
  align-items: center;

  @media screen and (min-width: point(sm)) {
    padding: 0 rem(120);
  }

  @media screen and (min-width: point(md)) {
    margin: rem(80) rem(60) 0;
    padding: 0 rem(170) 0 rem(130);
  }

  @media screen and (min-width: point(lg)) {
    margin: rem(80) rem(200) 0;
    padding: 0 rem(140);
  }

  .rows {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    font-size: font(11);
    line-height: 190%;
    text-align: justify;
    @include font-ubuntu-regular;

    @media screen and (min-width: point(sm)) {
      margin: rem(20) rem(0) rem(100);
      gap: rem(400);
      font-size: font(16);
      line-height: 200%;
      text-align: unset;
    }

    @media screen and (min-width: point(md)) {
      margin: rem(80) rem(0) rem(150);
      gap: rem(640);
    }

    @media screen and (min-width: point(lg)) {
      gap: rem(760);
      font-size: font(18);
    }

    .background {
      position: relative;
      @media screen and (min-width: point(sm)) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .sledman {
      z-index: 1;
      position: absolute;
      width: 15%;
      animation-name: slide;
      animation-play-state: paused;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      top: 35%;
      left: 45%;
      transform: rotate(-0.1turn) scale(0.6) translate(50%);

      &.running {
        animation-play-state: running;
      }
    }

    @keyframes slide {
      to {
        top: 45%;
        left: 40%;
        transform: inherit;
      }
    }

    .row {
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: rem(20);

      @media screen and (min-width: point(sm)) {
        font-size: font(18);
        width: 48%;

        &:last-child {
          text-align: right;
          align-self: end;
        }
      }
    }
  }

  .loading {
    display: none;
    @media screen and (min-width: point(sm)) {
      display: block;
    }
  }
}
