@use '../../../assets/styles/index.scss' as *;
@import '../../../assets/styles/headers';

.whatScreen {
  margin: rem(80) rem(20) 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: point(sm)) {
    padding: 0 rem(120);
  }

  @media screen and (min-width: point(md)) {
    margin: rem(80) rem(60) 0;
    padding: 0 rem(170) 0 rem(130);
  }

  @media screen and (min-width: point(lg)) {
    margin: rem(80) rem(200) 0;
    padding: 0 rem(140);
  }

  .title {
    @include h2-style;
  }

  .picture {
    position: relative;

    .sledman {
      z-index: 1;
      position: absolute;
      width: 15%;
      animation-name: slide;
      animation-play-state: paused;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      top: 35%;
      left: 45%;
      transform: rotate(-0.1turn) scale(0.6) translate(50%);

      &.running {
        animation-play-state: running;
      }
    }

    @keyframes slide {
      to {
        top: 45%;
        left: 40%;
        transform: inherit;
      }
    }
  }

  .text {
    font-size: font(11);
    line-height: 190%;
    text-align: justify;
    @include font-ubuntu-regular;

    @media screen and (min-width: point(sm)) {
      margin-top: rem(60);
      margin-bottom: rem(100);
      font-size: font(16);
      line-height: 200%;
      text-align: unset;

      p {
        text-indent: rem(12);
      }
    }

    @media screen and (min-width: point(lg)) {
      font-size: font(18);
    }
  }

  .loading {
    display: none;
    margin-top: rem(80);
    @media screen and (min-width: point(sm)) {
      display: block;
    }
  }
}
